<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="StatesEndPoint" value="http://where.yahooapis.com/v1/place/23424848/children;count=100" />
    <add key="CityEndPoint" value="http://where.yahooapis.com/v1/place/#woeid/children.degree(2);count=100" />
    <add key="AppId" value="_BCv3Q7V34EnLofidY5PDpjF6F9Ocx7IcQudE_uVwOUdfabmRFv0Z2lQZtICaRDI5eXYR3Uc" />
<add key="rssFeedEndPoint" value="http://weather.yahooapis.com/forecastrss?w=#woeid&amp;u=c" />
     <add key="ConnString" value="Data Source=Vijay-LR;Initial Catalog=Weather_Info;Integrated Security=true;" />

  </appSettings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
